* {
}
h1 {
    display: flex;
    justify-content: center;
}
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.pokemon {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    width: 20%;
    margin: 1px;
    padding: 5px;
    border-radius: 5px;
}   